{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Registro | Lúmina</title>

    <link rel="stylesheet" href="{% static 'css/registro.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>
<body>

<div class="auth-container">

    <a href="{% url 'home' %}" class="btn-volver">
    <i class="fa-solid fa-arrow-left"></i>
    Volver al inicio
    </a>

    <form method="POST" id="registroForm" class="auth-card" novalidate>

        {% csrf_token %}

      <div class="auth-header">

<h2>Únete a Lúmina</h2>

<p class="subtitle">
    Crea tu cuenta y comienza tu experiencia con nosotros.
</p>


</div>
        <div id="form-error" class="form-error"></div>

        <div class="form-group">
            <label>Usuario</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label>Correo electrónico</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            {{ form.password }}
        </div>

        <div class="form-group">
            <label>Confirmar contraseña</label>
            {{ form.password2 }}
        </div>

        <button type="submit">
            <i class="fa-solid fa-user-plus"></i>
            Crear cuenta
        </button>

        <div class="auth-footer">
            ¿Ya tienes cuenta?

            <a href="{% url 'login' %}">
                Inicia sesión
            </a>
        </div>

    </form>

</div>

<!-- VALIDACIONES -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/validaciones.js' %}"></script>

</body>
</html>